
*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

/* * {
  font: inherit;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: #F4F5FA;
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
  
}
input {
  outline: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}